.form-control[readonly], .form-control:disabled {
    background-color: #fff !important;
}

.btn-upload {
    width: 95%;
}

input.invalid, textarea.invalid, select.invalid {
    border-color: #dc3545;
}